{
  "name": "EXAMPLE",
  "redis": "127.0.0.1:6488",
  "useSchedule": false,
  "logFile": "${__DIR__}/../run.local/php-resque.log",
  "pidFile": "${__DIR__}/../run.local/php-resque.pid",
  "leaders": [
    {
      "name": "TASK_1",
      "workerCount": 1,
      "queues": [
        "TASK_1"
      ],
      "includes": [
        "${__DIR__}/../examples/ResqueJobsEx.php"
      ]
    },
    {
      "name": "TASK_2",
      "workerCount": 1,
      "queues": [
        "TASK_2"
      ],
      "includes": [
        "${__DIR__}/../examples/ResqueJobsEx.php"
      ]
    }
  ]
}
